thead, tfoot
{
    background-color: #337ab7;
    color: white;
    text-transform: uppercase;
}
th, td
{
    text-align: center;
}
.btn
{
    text-transform: uppercase;
    font-weight: bold;
}
input[type='radio'] 
{ 
    transform: scale(1.8);
    margin: 0.5em; 
}

.alert-warning
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#edb55c),to(#e08e0b));

}